<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>


<!-- 尾部 -->
<div  th:fragment="foot">
    <footer class="ui inverted vertical segment m-padded-tb-huge">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="two wide column">
                    <div class="ui inverted link list">
                        <div class="item"><img src="/img/code.gif" class="ui rounded image" th:width="120px" alt="二维码"/></div>
                    </div>
                </div>

                <div class="three wide column">
                    <h3 class="ui inverted header"> 最新博客</h3>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                    </div>
                </div>

                <div class="three wide column">
                    <h3 class="ui inverted header">联系方式</h3>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:19434835948@163.com</a>
                        <a href="#" class="item">QQ:194734892</a>
                        <a href="#" class="item">微信：438tu989</a>
                    </div>
                </div>

                <div class="seven wide column">
                    <h3 class="ui inverted header">自我陈述</h3>
                    <p class="m-text m-opicity-mini">这是我的个人博客，会分享一些关于编程、写作及个人思考的博文。如果你喜欢我的博客的话，扫面左边二维码关注我哦！！！</p>
                </div>
            </div>

            <div class="ui inverted section divider"></div>
            <p >Copyright © 2017-2018 我的Blog <span style="margin-left: 10px;">文档授权方式：CC BY-NC 4.0，请勿随意盗用本站文档！</span></p>
        </div>

    </footer>
</div>
</body>
</html>