<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>分类添加</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css"/>
    <link rel="stylesheet" type="text/css"  href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/editormd/css/editormd.min.css">
    <script src="/js/jquery-3.1.0.min.js" ></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/lib/editormd/editormd.min.js"></script>

</head>
<body>

<div th:insert="~{admin/header::nav}"></div>

<!--导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="/admin/typeAdd" class="teal active item">发布分类</a>
            <a href="/admin/typeManage" class=" item">分类列表</a>
        </div>
    </div>
</div>

<!--中间部分 -->
<div class=" m-container-small m-padded-tb-biggest">
    <div class="ui container">
        <form th:action="*{id}==null? @{/admin/typeAdd}: @{/admin/typeAdd/{id}(id=*{id})}" method="post" class="ui segment form" th:object="${type}">
           <input type="hidden" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">分类</label>
                    <input type="text"   name="name" placeholder="分类名称" th:value="*{name}">
                </div>
            </div>

            <div class="ui error message"></div>

           <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon">×</i>
                <div class="header">验证失败</div>
                <p th:errors="*{name}">提交的标签已存在</p>
            </div>
           /*/-->

            <div class="ui right aligned container">
                <button type="button" class="ui mini button" onclick="window.history.go(-1)">返回</button>
                <button  type="submit"  class="ui teal mini button">新增</button>
            </div>

        </form>

    </div>
</div>


<div th:insert="~{admin/footer::foot}"></div>

<script>


    function menushow() {
        $('.m-item').toggleClass('m-mobile-hide');
    }

    $(".ui.dropdown")
        .dropdown()
    ;

    $(".ui.form").form({
        fields:{
            title:{
                identifier:'name',
                rules:[{
                    type:'empty',
                    prompt:'请输入分类名称'
                }]
            }
        }
    });

    $('.message .close')
        .on('click',function(){
            $(this).closest('.message')
                .transition('fade');

        });
</script>

</body>
</html>