<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<!--
        描述：导航
    -->
<div  th:fragment="nav">

    <nav class="ui inverted attached segment m-padded-tb-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h1 class="ui teal header item">Blog</h1>
                <a href="/index" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="/type" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="/tag" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="/archive" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="/about" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="right item">
                    <div class="ui icon inverted transparent input m-item m-mobile-hide ">
                        <input type="text" placeholder="Search..." />
                        <i class="search link icon"></i>
                    </div>
                </div>

            </div>
        </div>
        <a href="#" class="ui black icon button m-right-top m-mobile-show " onclick="menushow()">菜单</a>
    </nav>
</div>


</body>
</html>